/.vscode
/__pycache__
/server/__pycache__
/server/model_handler/__pycache__
/onnx_cache
/scripts
gathered_code.txt
tmp.txt
/logs
**/__pycache__
**/*.pyc
/.ruff_cache
/.mypy_cache
/assets
/snapshots
/snapshots_source